.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.item{
   border: 1px solid;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 10px;
}

.img{
    width: 200px;
}

.cat{
    grid-column: 2 / 4;
}